[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cx-oracle = "*"
pillow = "*"
django-environ = "*"
django-mjml = "*"
djangorestframework = "*"
psycopg2-binary = "*"
weasyprint = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
